{% extends 'layout.html' %}
{% block body %}
      <h1>DOCTOR</h1>
      <section class="content">
          <div class="box box-primary">
              <div class="box-header">
                  <a href="/doctor/add/">
                    <center> 
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-plus"></span> Nuevo Usuario
                        </button>
                    </center>
                    </a>
              </div>
              <div class="box-body">
                  <table id="dataphone" class="table table-border table-striped">
                      <head align="center">
                          <tr>
                              <th>Nombre</th>
                              <th>Contrasena</th>
                              <th>Funcion</th>
                              <th>Lugar</th>
                              <th>Distrito</th>
                              <th>Edad</th>
                              <th>Acción</th>
                          </tr>
                      </head>
                      <body>
                          {% if data|length == 0 %}
                          <tr>
                              <td>Sin datos</td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                          </tr>
                          {% else %}
                          <tr>
                            {% for row in data %}
                            <th>{{ row[1] }}</th>
                            <th>{{ row[2] }}</th>
                            <th>{{ row[3] }}</th>
                            <th>{{ row[4] }}</th>
                            <th>{{ row[5] }}</th>
                            <th>{{ row[6] }}</th>
                            <th align="center">
                                <a href="/doctor/update/{{ row[0] }}">
                                    <button type="button" class="btn btn-sm btn-warning btn-flat" title="update">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                </a>
                                
                                <a href="/doctor/delete/{{ row[0] }}">
                                    <button type="button" class="btn btn-sm btn-warning btn-flat" title="delete">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </a>
                            </th>
                          </tr>
                          {% endfor %}
                          {% endif %}
                      </body>
                  </table>
              </div>
          </div>
      </section>
{% endblock %}